#footer .mod_customnav ul{width:300px;margin:0 auto;padding:0;list-style:none;text-align:center;font-weight:bold}.footer-left .mod_customnav ul li{padding:3px 0}.footer-left .mod_customnav ul li:not(:last-child){border-bottom:1px solid #71acb9}.footer-left .mod_customnav ul li a,.footer-left .mod_customnav ul li strong{color:#71acb9;text-transform:uppercase;text-decoration:none}.footer-left .mod_customnav ul li a{transition:color 250ms}.footer-left .mod_customnav ul li a:hover{color:#1b7d91}.footer-info{color:#1b7d91;line-height:1.2em}.footer-social>a{display:inline-block;width:40px;margin-bottom:20px;transition:filter 250ms}.footer-social>a:hover{filter:opacity(0.4)}.footer-tel-mail{margin-top:20px}.footer-tel-mail td{padding:0 20px 0 0}.footer-tel-mail a{color:#1b7d91;text-decoration:none}@media screen and (max-width: 767px){.home footer .inside{transform:none}.footer-content{display:block;position:relative}.footer-address{text-align:center}.footer-tel-mail{text-align:center}.footer-tel-mail td:first-child{width:50%;text-align:right}.footer-tel-mail td:last-child{text-align:left}.footer-social{position:absolute;top:0;left:50%;transform:translateX(-50%)}.footer-left .mod_customnav,.footer-right{padding-top:50px}.footer-tel-mail td{padding:0}}.mobile_menu .inner{background:#d0e5e9}.mobile_menu .inner .sibling:nth-child(8),.mobile_menu .inner .sibling:nth-child(9){display:none}.menu-content{width:90%;max-width:850px;margin:40px auto}.menu-logo{position:relative;float:left;left:50%;text-align:center;transform:translateX(-50%);transition:filter 250ms}.menu-logo img{width:200px}.menu-logo:hover{filter:opacity(0.4)}.menu-close-wrapper{float:right;width:40px}.menu-close-wrapper a{transition:filter 250ms}.menu-close-wrapper a:hover{filter:opacity(0.4)}.menu-list-wrapper .mod_customnav{margin:0 auto;width:90%;max-width:850px}.menu-list-wrapper .mod_customnav ul{margin:0;padding:0;list-style:none;text-align:center}.menu-list-wrapper .mod_customnav ul li{padding:8px}.menu-list-wrapper .mod_customnav ul li:not(:last-child){border-bottom:1px solid #1b7d91}.menu-list-wrapper .mod_customnav ul li a,.menu-list-wrapper .mod_customnav ul li strong{color:#1b7d91;text-transform:uppercase;text-decoration:none;font-size:20px;font-weight:bold}.menu-list-wrapper .mod_customnav ul li a{transition:filter 250ms}.menu-list-wrapper .mod_customnav ul li a:hover{filter:opacity(0.4)}.menu-list-wrapper .mod_customnav ul li ul li a{font-size:15px;text-transform:none}.menu-list-wrapper .mod_customnav ul li ul li:not(:last-child){border:none}.menu-list-wrapper .mod_customnav ul li ul li strong{font-size:13px;text-decoration:underline}


/* Element | https://tanzen-jena.de/ */

.news-and-events > .mod_eventlist {
  width: 66%;
  display: flex;
  justify-content: space-between;
}

/* layout.min.css,responsive.min.css,swipe.min.css,mobile-menu.min....-8ae71f75.css | https://tanzen-jena.de/assets/css/layout.min.css,responsive.min.css,swipe.min.css,mobile-menu.min....-8ae71f75.css */

.home .mod_eventlist > .event {
  width: 48%;
  box-sizing: border-box;
}

.news-and-events > div {
  box-sizing: border-box;
}

.home .mod_newslist > .layout_latest, .home .mod_eventlist > .event, .course-teaser {
  /* height: 215px; */
  height: 265px;
}

.unclickable {
	pointer-events: none;
	filter: grayscale(1);
}


@media screen and (max-width: 767px) {
.home .mod_eventlist > .event {
  /* width: 48%; */
  width: 100%;
}

.news-and-events > .mod_eventlist {
  flex-wrap: wrap;
  width: 100%;
}

@media screen and (max-width: 767px) {
  .news-and-events > div {
    /* margin: 10px auto; */
    margin: 10px auto 0;
  }
}

/* In Webseite enthaltenes Stil-Dokument #4 | https://tanzen-jena.de/startseite.html */

.home .mod_eventlist > .event:not(:last-child) {
  margin: 10px auto;
}
}
